h2{
    color: lightseagreen;
}

#seccion-titulo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.titulos{
    font-family: cursive;
    color: #372AAC;
    width: 300px;
    height: 50px;
    background-color: lime;
}

#seleccionar-mascota{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tarjeta-mokepon{
    width: 100px;
    height: 50px;
    background: rgb(205, 138, 45);
    padding: 10px;
    box-sizing: border-box;
    margin: 10px;
    border: 1px solid black;

}

#boton-mascota{
    color: blue;
    font-size: medium;
    background-color: yellow;
    border: 3px solid black;
}