@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');

body{
    font-family: "Fredoka", sans-serif;
    background-color: #576A8F;
}

#seccion-titulo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#seleccionar-mascota{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.titulos{ 
    color: black;
    font-size: 52px;
}

.subtitulo{
    color: black;
    font-size: 42px;
}

.tarjetas{
    display: flex;
    gap: 10px;
}

.tarjeta-mokepon{
    width: 220px;
    height: 170px;
    background: rgb(58, 200, 38);
    padding: 32px;
    box-sizing: border-box;
    margin: 22px;
    border: 2px solid black;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tarjeta-mokepon img{
    width: 100px;
}

#boton-mascota{
    color: black;
    font-size: medium;
    background-color: rgb(58, 200, 38);
    border: 3px solid black;
    border-radius: 20px;
    width: 120px;
}

input{
    display: none;
}